body{
    /*noinspection CssUnknownTarget*/
    background-image: url("/images/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.pixelated {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    touch-action: none;
}
.grid-overlay {
    background-image:
            linear-gradient(to right, rgba(255, 255, 255, 0.15) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
    background-size: calc(100% / 32) calc(100% / 64);
}
.cursor-pointer {
    cursor: pointer;
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    background: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 1px solid #6c757d;
    border-radius: 4px;
}