body{
    background-image: url("/images/background2.png");
}

.grid{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin: 5vh 0 0 5vh;
    max-width: 55%;
    gap: 2em;
}

/*.charBox{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.charPanel{}

.charDiv{
    display: flex;
    /*flex: 1 0 auto;*/
    flex-direction: column;
    justify-content: center;
    width:5em;
    /*align-items: center;*/
    gap: 1em;
}

#charName{
    color: white;
    font-weight: bold;
    margin-bottom: 1em;
    /*align-items: center;*/
    /*text-align: center;*/
}

#charSkin{
    width: 3.9em;
    height: 3.9em;
    object-fit: none;
    object-position: top;
    image-rendering: pixelated;
    transform: scale(1.5);
    /*transform-origin: top left;*/
    transform-origin: center;
    /*align-self: center;*/
}