<!DOCTYPE html>
<html>
    <head>
        <title>StencilWEB - Aluno</title>
        <link rel="stylesheet" th:href="@{/css/aluno.css}">
    </head>
    <body>
        <div class="infoAluno">
            <p th:text="${aluno.nomeAluno}"></p>
            <p th:text="${aluno.nick}"></p>
            <p th:text="${aluno.xp}"></p>
            <p th:text="${aluno.ofensiva}"></p>
        </div>
    
        <div class="divSkin">
            <img th:src="@{/images/{filename}(filename=${aluno.skin})}">
        </div>
        
    </body>

</html>