<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StencilWEB</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>skin</th>
                <th>xp</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="character : ${characters}">
                <td th:text="${character.id}">Name</td>
                <td th:text="${character.charName}">Name</td>
                <td>
                    <img th:src="${character.skin}" alt="skin" width="100" height="100">
                </td>
                <td th:text="${character.xp}">XP</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
